@model IEnumerable<Message>

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">Pomelo Alert Platform </a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="cont-body no-padding">
    <table class="list-table">
        <thead>
            <tr>
                <th>App</th>
                <th>接收方</th>
                <th>内容</th>
                <th>状态</th>
                <th>请求发送时间</th>
                <th>实际发送时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.App.Name</td>
                <td>@x.To</td>
                <td>@x.Text</td>
                <td>@x.Status.ToString()</td>
                <td>@x.CreatedTime</td>
                <td>@x.DeliveredTime</td>
            </tr>
            }
        </tbody>
    </table>
    @Html.Paging("tfoot-paging-item", "current", "tfoot-paging-outer")
</div>
